*{
  box-sizing: border-box;
}

body{
  margin: 0;
  color: #ffffff;
  background-color: #323232;
  font-family: Roboto Condensed, sans-serif;
  font-size: 14px;
  line-height: 20px;

}
.container{
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* NAVIGATION STYLES */
.nav-container{
  box-shadow: 0 1px rgba(255,255,255,.13);
}
.navbar{
  background-color: #323232;
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: hidden;
}
.nav-header-text{
  /*float: left;*/
  color: #952323;
  text-transform: uppercase;
  margin-right: 20px;
  font-family: Roboto Condensed, sans-serif;
  font-size: 25px;
  text-decoration: none;
}
.navbar a{
  float: left;
}
.nav-link{
  color: #ededed;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #323232;
  padding: 20px 30px;
  font-family: Roboto Condensed, sans-serif;
  font-size: 15px;
  /*font-weight: 300;*/
  text-decoration: none;
}
.nav-link:hover{
  color: #ffffff;
  background-color: #4d4d4d;
}
.nav-link-text{
  /*position: relative;*/
  display: inline-block;
  /*vertical-align: top;*/
  text-decoration: none;
  color: #222222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.nav-socials{
  float: right;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 10px;
}
.nav-socials img {
  float: right;
  height: 100%;
  width: 100%;
}
/* SECTIONS */
.section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.section#About{
  text-align: center;
}
.section.image#About{
  background-image: url("/img/aboutBackground.jpg");
  background-color: #4d4d4d;
  background-position: 50% 10000%;
  background-size: cover,contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-heading{

}
.main-subheading{

}

/*SKILLS LIST*/
.skills-list{
  color: #952323;
  /*margin: 25px 0px 10px;*/
  /*z-index: 2;*/
  /*display: flex;
  flex-wrap: wrap;
  position: relative;*/
  list-style: none;
  font-family: 'Lucida Console';
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.skills-list li{
  /*margin: 0px 25px 5px 0px;*/
  display: inline-block;
  padding-right: 10px;
}

